.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #e5d9f2;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
  color: #7310eb;
}

h2 {
  text-align: left;
  color: #7310eb;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-form input,
.expense-form button {
  padding: 10px;
  font-size: 1rem;
  background-color: #f5efff;
}
/* .amount-input {
  max-width: 400px;
}
.date-input {
  max-width: 400px;
} */
.expense-list {
  margin-top: 20px;
}

.expense-list table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5efff;
}

.expense-list th,
.expense-list td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.expense-list button {
  color: #f5efff;
  background-color: #7310eb;
  border-radius: 8px;
  border: 1px solid #f5efff;
  margin: 1px;
  padding: 10px;
}

.expense-list th {
  background-color: #f5efff;
}

.total {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.expense-button {
  width: 150px;
}

/* Responsive styling */
@media (max-width: 600px) {
  .expense-form {
    flex-direction: column;
  }

  .expense-list table {
    display: block;
    width: 100%;
  }

  .expense-list thead {
    display: none;
  }

  .expense-list tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .expense-list td {
    display: flex;
    justify-content: space-between;
  }

  .expense-list td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }
}
